[submodule "external/GMXBuilder"]
	path = external/GMXBuilder
	url = git@github.com:ScanEx/GMXBuilder.git
[submodule "external/GMXCommonComponents"]
	path = external/GMXCommonComponents
	url = git@github.com:ScanEx/GMXCommonComponents.git
[submodule "external/winnie-core"]
	path = external/winnie-core
	url = git@github.com:kosmosnimki/winnie-core.git
[submodule "external/Leaflet-IconLayers"]
	path = external/Leaflet-IconLayers
	url = git@github.com:ScanEx/Leaflet-IconLayers.git
